streamlit
torch
transformers
whisper
librosa
pydub
plotly
pandas
numpy
scikit-learn
spacy
soundfile
sounddevice==0.4.6
scipy
matplotlib
seaborn
tqdm
fastapi
uvicorn
pydantic
python-dotenv
PyAudio
portaudio19-dev
libasound2-dev
libportaudio2
libportaudiocpp0
ffmpeg
