streamlit==1.51.0
torch==2.9.1
transformers==4.57.1
whisper==1.1.10
librosa==0.11.0
pydub==0.25.1
plotly==6.4.0
pandas==2.3.3
numpy==1.24.3
scikit-learn==1.7.2
spacy==3.8.9
soundfile==0.13.1
sounddevice==0.4.6
scipy==1.16.3
matplotlib==3.10.7
seaborn==0.13.2
tqdm==4.67.1
fastapi==0.121.2
uvicorn==0.38.0
pydantic==2.12.4
python-dotenv==1.2.1
PyAudio==0.2.14
